In [95]:
import pandas as pd
import numpy as np
import re

In [96]:
import os
path = "./fsdata"
file_list = os.listdir(path)
file_list

['3S.xlsx',
 'AJ네트웍스.xlsx',
 'AK홀딩스.xlsx',
 'APS홀딩스.xlsx',
 'AP시스템.xlsx',
 'BGF.xlsx',
 'BGF리테일.xlsx',
 'BNGT.xlsx',
 'BNK금융지주.xlsx',
 'BYC.xlsx',
 'CJ CGV.xlsx',
 'CJ ENM.xlsx',
 'CJ 바이오사이언스.xlsx',
 'CJ.xlsx',
 'CJ대한통운.xlsx',
 'CJ씨푸드.xlsx',
 'CJ제일제당.xlsx',
 'CJ프레시웨이.xlsx',
 'CMG제약.xlsx',
 'CS홀딩스.xlsx',
 'DB.xlsx',
 'DB하이텍.xlsx',
 'DL.xlsx',
 'DMS.xlsx',
 'DRB동일.xlsx',
 'DSR.xlsx',
 'E1.xlsx',
 'EDGC.xlsx',
 'EG.xlsx',
 'EMB.xlsx',
 'EMW.xlsx',
 'ESR켄달스퀘어리츠.xlsx',
 'ES큐브.xlsx',
 'FSN.xlsx',
 'GH신소재.xlsx',
 'GS.xlsx',
 'GS건설.xlsx',
 'GS글로벌.xlsx',
 'GS리테일.xlsx',
 'HB솔루션.xlsx',
 'HB테크놀러지.xlsx',
 'HDC.xlsx',
 'HDC랩스.xlsx',
 'HDC현대EP.xlsx',
 'HDC현대산업개발.xlsx',
 'HJ중공업.xlsx',
 'HLB.xlsx',
 'HLB생명과학.xlsx',
 'HLB제약.xlsx',
 'HLB테라퓨틱스.xlsx',
 'HMM.xlsx',
 'HRS.xlsx',
 'HSD엔진.xlsx',
 'iMBC.xlsx',
 'ISC.xlsx',
 'ITX-AI.xlsx',
 'JTC.xlsx',
 'JW생명과학.xlsx',
 'JW신약.xlsx',
 'JW중외제약.xlsx',
 'JW홀딩스.xlsx',
 'JYP Ent..xlsx',
 'KBI메탈.xlsx',
 'KB오토시스.xlsx',
 'KCC건설.xlsx',
 'KC그린홀딩스.xlsx',
 'KC코트렐.xlsx',
 'KD.xlsx',
 'KEC.xlsx',
 'KG ETS.xlsx',
 'KG동부제철.xlsx',
 'KG모빌리언스.xlsx',
 'KG이니시스.xlsx',
 'KG케미칼.xlsx',
 'KH E&T.xlsx',
 'KH 일렉트론.xlsx',
 'KH 필룩스.xlsx',
 'KH바텍.xlsx',
 'KISCO홀딩스.xlsx',
 'KMH.xlsx',
 'KMH하이텍.xlsx',
 'KNN.xlsx',
 'KPX케미칼.xlsx',
 'KPX홀딩스.xlsx',
 'KR모터스.xlsx',
 'KSS해운.xlsx',
 'KTcs.xlsx',
 'LF.xlsx',
 'LG.xlsx',
 'LG디스플레이.xlsx',
 'LG생활건강.xlsx',
 'LG에너지솔루션.xlsx',
 'LG유플러스.xlsx',
 'LG이노텍.xlsx',
 'LG전자.xlsx',
 'LG헬로비전.xlsx',
 'LG화학.xlsx',
 'LIG넥스원.xlsx',
 'LS.xlsx',
 'LS네트웍스.xlsx',
 'LS전선아시아.xlsx',
 'LX세미콘.xlsx',
 'LX인터내셔널.xlsx',
 'LX하우시스.xlsx',
 'MH에탄올.xlsx',
 'NAVER.xlsx',
 'NEW.xlsx',
 'NE능률.xlsx',
 'NHN벅스.xlsx',
 'NHN한국사이버결제.xlsx',
 'NICE.xlsx',
 'OCI.xlsx',
 'PN풍년.xlsx',
 'RFHIC.xlsx',
 'RF머트리얼즈.xlsx',
 'S&K폴리텍.xlsx',
 'S-Oil.xlsx',
 'SBI핀테크솔루션즈.xlsx',
 'SBS.xlsx',
 'SBS콘텐츠허브.xlsx',
 'SCI평가정보.xlsx',
 'SDN.xlsx',
 'SFA반도체.xlsx',
 'SG&G.xlsx',
 'SG.xlsx',
 'SGA.xlsx',
 'SGA솔루션즈.xlsx',
 'SGC에너지.xlsx',
 'SGC이테크건설.xlsx',
 'SG글로벌.xlsx',
 'SG세계물산.xlsx',
 'SH에너지화학.xlsx',
 'SIMPAC.xlsx',
 'SK.xlsx',
 'SKC.xlsx',
 'SK가스.xlsx',
 'SK네트웍스.xlsx',
 'SK디스커버리.xlsx',
 'SK디앤디.xlsx',
 'SK렌터카.xlsx',
 'SK리츠.xlsx',
 'SK이노베이션.xlsx',
 'SK케미칼.xlsx',
 'SK텔레콤.xlsx',
 'SK하이닉스.xlsx',
 'SM C&C.xlsx',
 'SM Life Design.xlsx',
 'SNK.xlsx',
 'SNT모티브.xlsx',
 'SNT에너지.xlsx',
 'SNT중공업.xlsx',
 'SNT홀딩스.xlsx',
 'SPC삼립.xlsx',
 'STX.xlsx',
 'STX엔진.xlsx',
 'STX중공업.xlsx',
 'SUN&L.xlsx',
 'TCC스틸.xlsx',
 'THE E&M.xlsx',
 'THE MIDONG.xlsx',
 'THQ.xlsx',
 'TJ미디어.xlsx',
 'TPC.xlsx',
 'TS트릴리온.xlsx',
 'TYM.xlsx',
 'UCI.xlsx',
 'WI.xlsx',
 'WISCOM.xlsx',
 'YBM넷.xlsx',
 'YG PLUS.xlsx',
 'YTN.xlsx',
 'YW.xlsx',
 '가비아.xlsx',
 '가온미디어.xlsx',
 '가온전선.xlsx',
 '감성코퍼레이션.xlsx',
 '강남제비스코.xlsx',
 '강스템바이오텍.xlsx',
 '강원랜드.xlsx',
 '강원에너지.xlsx',
 '갤럭시아머니트리.xlsx',
 '갤럭시아에스엠.xlsx',
 '경농.xlsx',
 '경동나비엔.xlsx',
 '경동도시가스.xlsx',
 '경동인베스트.xlsx',
 '경동제약.xlsx',
 '경방.xlsx',
 '경인양행.xlsx',
 '경창산업.xlsx',
 '계양전기.xlsx',
 '고려신용정보.xlsx',
 '고려아연.xlsx',
 '고려제강.xlsx',
 '고바이오랩.xlsx',
 '골드앤에스.xlsx',
 '골드퍼시픽.xlsx',
 '골든센츄리.xlsx',
 '골프존.xlsx',
 '골프존뉴딘홀딩스.xlsx',
 '광동제약.xlsx',
 '광전자.xlsx',
 '교촌에프앤비.xlsx',
 '구영테크.xlsx',
 '국도화학.xlsx',
 '금비.xlsx',
 '금양.xlsx',
 '금호에이치티.xlsx',
 '금호전기.xlsx',
 '금호타이어.xlsx',
 '금화피에스시.xlsx',
 '기산텔레콤.xlsx',
 '기신정기.xlsx',
 '기아.xlsx',
 '까스텔바작.xlsx',
 '깨끗한나라.xlsx',
 '나노.xlsx',
 '나노브릭.xlsx',
 '나노스.xlsx',
 '나노신소재.xlsx',
 '나노엔텍.xlsx',
 '나래나노텍.xlsx',
 '나우IB.xlsx',
 '나우코스.xlsx',
 '네패스.xlsx',
 '넥센타이어.xlsx',
 '넥스트BT.xlsx',
 '넥스트사이언스.xlsx',
 '넥스트아이.xlsx',
 '넥스틴.xlsx',
 '넥슨지티.xlsx',
 '넵튠.xlsx',
 '노랑풍선.xlsx',
 '노루페인트.xlsx',
 '노루홀딩스.xlsx',
 '노바렉스.xlsx',
 '노바텍.xlsx',
 '노브메타파마.xlsx',
 '노터스.xlsx',
 '녹십자.xlsx',
 '녹십자엠에스.xlsx',
 '녹십자홀딩스.xlsx',
 '농심.xlsx',
 '농심홀딩스.xlsx',
 '농우바이오.xlsx',
 '누리플랜.xlsx',
 '누리플렉스.xlsx',
 '뉴로스.xlsx',
 '뉴보텍.xlsx',
 '뉴인텍.xlsx',
 '뉴지랩파마.xlsx',
 '뉴트리.xlsx',
 '뉴파워프라즈마.xlsx',
 '뉴프렉스.xlsx',
 '다나와.xlsx',
 '다날.xlsx',
 '다산네트웍스.xlsx',
 '다우기술.xlsx',
 '다우데이타.xlsx',
 '다원시스.xlsx',
 '다이나믹디자인.xlsx',
 '대구백화점.xlsx',
 '대덕전자.xlsx',
 '대림제지.xlsx',
 '대림통상.xlsx',
 '대명소노시즌.xlsx',
 '대모.xlsx',
 '대봉엘에스.xlsx',
 '대상.xlsx',
 '대상홀딩스.xlsx',
 '대성에너지.xlsx',
 '대성엘텍.xlsx',
 '대성파인텍.xlsx',
 '대아티아이.xlsx',
 '대양금속.xlsx',
 '대양전기공업.xlsx',
 '대양제지.xlsx',
 '대우건설.xlsx',
 '대우부품.xlsx',
 '대우조선해양.xlsx',
 '대웅제약.xlsx',
 '대원강업.xlsx',
 '대원미디어.xlsx',
 '대원전선.xlsx',
 '대원제약.xlsx',
 '대유에이피.xlsx',
 '대주전자재료.xlsx',
 '대창단조.xlsx',
 '대창솔루션.xlsx',
 '대한과학.xlsx',
 '대한광통신.xlsx',
 '대한그린파워.xlsx',
 '대한방직.xlsx',
 '대한유화.xlsx',
 '대한전선.xlsx',
 '대한제강.xlsx',
 '대한제당.xlsx',
 '대한제분.xlsx',
 '대한항공.xlsx',
 '대호에이엘.xlsx',
 '대화제약.xlsx',
 '더네이쳐홀딩스.xlsx',
 '더블유게임즈.xlsx',
 '더존비즈온.xlsx',
 '덕산테코피아.xlsx',
 '덕산하이메탈.xlsx',
 '덕신하우징.xlsx',
 '덕양산업.xlsx',
 '덕우전자.xlsx',
 '데브시스터즈.xlsx',
 '덱스터.xlsx',
 '덴티움.xlsx',
 '도화엔지니어링.xlsx',
 '동구바이오제약.xlsx',
 '동국S&C.xlsx',
 '동국산업.xlsx',
 '동국알앤에스.xlsx',
 '동국제강.xlsx',
 '동국제약.xlsx',
 '동방선기.xlsx',
 '동방아그로.xlsx',
 '동부건설.xlsx',
 '동성제약.xlsx',
 '동성케미컬.xlsx',
 '동성화인텍.xlsx',
 '동아쏘시오홀딩스.xlsx',
 '동아에스티.xlsx',
 '동아엘텍.xlsx',
 '동아지질.xlsx',
 '동아타이어.xlsx',
 '동아화성.xlsx',
 '동양고속.xlsx',
 '동양에스텍.xlsx',
 '동양이엔피.xlsx',
 '동양철관.xlsx',
 '동양피스톤.xlsx',
 '동우팜투테이블.xlsx',
 '동원F&B.xlsx',
 '동원금속.xlsx',
 '동원수산.xlsx',
 '동원시스템즈.xlsx',
 '동일고무벨트.xlsx',
 '동일금속.xlsx',
 '동진쎄미켐.xlsx',
 '동화약품.xlsx',
 '두산.xlsx',
 '두산밥캣.xlsx',
 '두산중공업.xlsx',
 '두올.xlsx',
 '듀오백.xlsx',
 '드림씨아이에스.xlsx',
 '드림어스컴퍼니.xlsx',
 '디스플레이텍.xlsx',
 '디아이.xlsx',
 '디아이티.xlsx',
 '디아크.xlsx',
 '디알젬.xlsx',
 '디앤디플랫폼리츠.xlsx',
 '디앤씨미디어.xlsx',
 '디에이테크놀로지.xlsx',
 '디엑스앤브이엑스.xlsx',
 '디엔에이링크.xlsx',
 '디엔에프.xlsx',
 '디오.xlsx',
 '디와이디.xlsx',
 '디와이파워.xlsx',
 '디와이피엔에프.xlsx',
 '디이엔티.xlsx',
 '디젠스.xlsx',
 '디지아이.xlsx',
 '디지캡.xlsx',
 '디지탈옵틱.xlsx',
 '디지털대성.xlsx',
 '디지틀조선.xlsx',
 '디케이락.xlsx',
 '디케이앤디.xlsx',
 '디티알오토모티브.xlsx',
 '디티앤씨.xlsx',
 '딜리.xlsx',
 '라온시큐어.xlsx',
 '라온피플.xlsx',
 '라이트론.xlsx',
 '라파스.xlsx',
 '락앤락.xlsx',
 '램테크놀러지.xlsx',
 '랩지노믹스.xlsx',
 '레고켐바이오.xlsx',
 '레드캡투어.xlsx',
 '레이.xlsx',
 '레이언스.xlsx',
 '레인보우로보틱스.xlsx',
 '로보스타.xlsx',
 '로보티즈.xlsx',
 '로스웰.xlsx',
 '로체시스템즈.xlsx',
 '롯데관광개발.xlsx',
 '롯데쇼핑.xlsx',
 '롯데정밀화학.xlsx',
 '롯데정보통신.xlsx',
 '롯데제과.xlsx',
 '롯데지주.xlsx',
 '롯데케미칼.xlsx',
 '롯데푸드.xlsx',
 '롯데하이마트.xlsx',
 '루트로닉.xlsx',
 '룽투코리아.xlsx',
 '리드코프.xlsx',
 '리메드.xlsx',
 '릭스솔루션.xlsx',
 '린드먼아시아.xlsx',
 '링네트.xlsx',
 '링크제니시스.xlsx',
 '마니커.xlsx',
 '마이더스AI.xlsx',
 '마이크로컨텍솔.xlsx',
 '마크로젠.xlsx',
 '만도.xlsx',
 '만호제강.xlsx',
 '맘스터치.xlsx',
 '매일유업.xlsx',
 '매일홀딩스.xlsx',
 '매직마이크로.xlsx',
 '매커스.xlsx',
 '멀티캠퍼스.xlsx',
 '메가스터디.xlsx',
 '메가스터디교육.xlsx',
 '메가엠디.xlsx',
 '메디아나.xlsx',
 '메디앙스.xlsx',
 '메디젠휴먼케어.xlsx',
 '메디콕스.xlsx',
 '메디톡스.xlsx',
 '메디포스트.xlsx',
 '메디프론.xlsx',
 '메지온.xlsx',
 '메카로.xlsx',
 '메타랩스.xlsx',
 '메타바이오메드.xlsx',
 '멕아이씨에스.xlsx',
 '멜파스.xlsx',
 '명문제약.xlsx',
 '명성티엔에스.xlsx',
 '모나미.xlsx',
 '모다이노칩.xlsx',
 '모두투어.xlsx',
 '모바일리더.xlsx',
 '모바일어플라이언스.xlsx',
 '모베이스전자.xlsx',
 '모아텍.xlsx',
 '모토닉.xlsx',
 '모트렉스.xlsx',
 '모헨즈.xlsx',
 '무림P&P.xlsx',
 '무림SP.xlsx',
 '무림페이퍼.xlsx',
 '무학.xlsx',
 '미디어젠.xlsx',
 '미래나노텍.xlsx',
 '미래생명자원.xlsx',
 '미래아이앤지.xlsx',
 '미래에셋증권.xlsx',
 '미래컴퍼니.xlsx',
 '미원상사.xlsx',
 '미원에스씨.xlsx',
 '미원홀딩스.xlsx',
 '미코.xlsx',
 '미투온.xlsx',
 '미투젠.xlsx',
 '민앤지.xlsx',
 '바다로19호.xlsx',
 '바른손.xlsx',
 '바른손이앤에이.xlsx',
 '바른전자.xlsx',
 '바이넥스.xlsx',
 '바이브컴퍼니.xlsx',
 '바이오니아.xlsx',
 '바이오로그디바이스.xlsx',
 '바이오리더스.xlsx',
 '바이오솔루션.xlsx',
 '바이오스마트.xlsx',
 '바이오톡스텍.xlsx',
 '바이온.xlsx',
 '바텍.xlsx',
 '배럴.xlsx',
 '백광산업.xlsx',
 '백금T&A.xlsx',
 '백산.xlsx',
 '범양건영.xlsx',
 '베노홀딩스.xlsx',
 '베뉴지.xlsx',
 '베셀.xlsx',
 '베스파.xlsx',
 '보라티알.xlsx',
 '보령제약.xlsx',
 '보성파워텍.xlsx',
 '보해양조.xlsx',
 '부광약품.xlsx',
 '부산산업.xlsx',
 '뷰웍스.xlsx',
 '브랜드엑스코퍼레이션.xlsx',
 '브이원텍.xlsx',
 '브이티지엠피.xlsx',
 '블루베리 NFT.xlsx',
 '비나텍.xlsx',
 '비덴트.xlsx',
 '비디아이.xlsx',
 '비보존 헬스케어.xlsx',
 '비비씨.xlsx',
 '비비안.xlsx',
 '비상교육.xlsx',
 '비씨월드제약.xlsx',
 '비아트론.xlsx',
 '비에이치아이.xlsx',
 '비엠티.xlsx',
 '비즈니스온.xlsx',
 '비츠로셀.xlsx',
 '비츠로시스.xlsx',
 '비츠로테크.xlsx',
 '비케이탑스.xlsx',
 '비트컴퓨터.xlsx',
 '비피도.xlsx',
 '빅솔론.xlsx',
 '빅텐츠.xlsx',
 '빙그레.xlsx',
 '빛샘전자.xlsx',
 '뿌리깊은나무들.xlsx',
 '사람인에이치알.xlsx',
 '사조대림.xlsx',
 '사조동아원.xlsx',
 '사조산업.xlsx',
 '사조씨푸드.xlsx',
 '삼강엠앤티.xlsx',
 '삼기.xlsx',
 '삼륭물산.xlsx',
 '삼보모터스.xlsx',
 '삼보판지.xlsx',
 '삼부토건.xlsx',
 '삼성SDI.xlsx',
 '삼성공조.xlsx',
 '삼성물산.xlsx',
 '삼성바이오로직스.xlsx',
 '삼성생명.xlsx',
 '삼성에스디에스.xlsx',
 '삼성엔지니어링.xlsx',
 '삼성전기.xlsx',
 '삼성전자.xlsx',
 '삼성제약.xlsx',
 '삼성중공업.xlsx',
 '삼성증권.xlsx',
 '삼성출판사.xlsx',
 '삼아알미늄.xlsx',
 '삼아제약.xlsx',
 '삼양사.xlsx',
 '삼양식품.xlsx',
 '삼양옵틱스.xlsx',
 '삼양통상.xlsx',
 '삼양홀딩스.xlsx',
 '삼영무역.xlsx',
 '삼영엠텍.xlsx',
 '삼영이엔씨.xlsx',
 '삼익악기.xlsx',
 '삼일제약.xlsx',
 '삼정펄프.xlsx',
 '삼지전자.xlsx',
 '삼진엘앤디.xlsx',
 '삼천당제약.xlsx',
 '삼천리.xlsx',
 '삼천리자전거.xlsx',
 '삼표시멘트.xlsx',
 '삼호개발.xlsx',
 '삼화네트웍스.xlsx',
 '삼화왕관.xlsx',
 '삼화전기.xlsx',
 '상보.xlsx',
 '상상인.xlsx',
 '상상인인더스트리.xlsx',
 '상신브레이크.xlsx',
 '상신이디피.xlsx',
 '상신전자.xlsx',
 '상아프론테크.xlsx',
 '상지카일룸.xlsx',
 '새로닉스.xlsx',
 '새론오토모티브.xlsx',
 '샘표.xlsx',
 '샘표식품.xlsx',
 '서린바이오.xlsx',
 '서부T&D.xlsx',
 '서산.xlsx',
 '서연.xlsx',
 '서연이화.xlsx',
 '서연탑메탈.xlsx',
 '서울리거.xlsx',
 '서울바이오시스.xlsx',
 '서울반도체.xlsx',
 '서울옥션.xlsx',
 '서원인텍.xlsx',
 '서전기전.xlsx',
 '서진시스템.xlsx',
 '서플러스글로벌.xlsx',
 '서호전기.xlsx',
 '서흥.xlsx',
 '서희건설.xlsx',
 '석경에이티.xlsx',
 '선도전기.xlsx',
 '선익시스템.xlsx',
 '선진뷰티사이언스.xlsx',
 '성광벤드.xlsx',
 '성도이엔지.xlsx',
 '성문전자.xlsx',
 '성보화학.xlsx',
 '성신양회.xlsx',
 '성우테크론.xlsx',
 '성우하이텍.xlsx',
 '성창기업지주.xlsx',
 '성창오토텍.xlsx',
 '세경하이테크.xlsx',
 '세기상사.xlsx',
 '세동.xlsx',
 '세방.xlsx',
 '세방전지.xlsx',
 '세보엠이씨.xlsx',
 '세아베스틸.xlsx',
 '세아제강지주.xlsx',
 '세아특수강.xlsx',
 '세아홀딩스.xlsx',
 '세영디앤씨.xlsx',
 '세우글로벌.xlsx',
 '세운메디칼.xlsx',
 '세원이앤씨.xlsx',
 '세이브존I&C.xlsx',
 '세종공업.xlsx',
 '세종메디칼.xlsx',
 '세종텔레콤.xlsx',
 '세진중공업.xlsx',
 '세진티에스.xlsx',
 '세코닉스.xlsx',
 '세틀뱅크.xlsx',
 '센트랄모텍.xlsx',
 '센트럴인사이트.xlsx',
 '셀루메드.xlsx',
 '셀리버리.xlsx',
 '셀바스AI.xlsx',
 '셀바스헬스케어.xlsx',
 '셀트리온제약.xlsx',
 '셀트리온헬스케어.xlsx',
 '소프트센.xlsx',
 '손오공.xlsx',
 '솔고바이오.xlsx',
 '솔루스첨단소재.xlsx',
 '솔루에타.xlsx',
 '솔루엠.xlsx',
 '솔본.xlsx',
 '솔브레인.xlsx',
 '솔브레인홀딩스.xlsx',
 '솔트룩스.xlsx',
 '수산아이앤티.xlsx',
 '수산중공업.xlsx',
 '수성이노베이션.xlsx',
 '수젠텍.xlsx',
 '슈프리마.xlsx',
 '슈프리마아이디.xlsx',
 '슈프리마에이치큐.xlsx',
 '슈피겐코리아.xlsx',
 '스카이문스테크놀로지.xlsx',
 '스카이이앤엠.xlsx',
 '스킨앤스킨.xlsx',
 '스타플렉스.xlsx',
 '스튜디오드래곤.xlsx',
 '스튜디오산타클로스.xlsx',
 '스페코.xlsx',
 '스포츠서울.xlsx',
 '시공테크.xlsx',
 '시그네틱스.xlsx',
 '시너지이노베이션.xlsx',
 '시노펙스.xlsx',
 '시디즈.xlsx',
 '시스웍.xlsx',
 '시큐브.xlsx',
 '시티랩스.xlsx',
 '신대양제지.xlsx',
 '신도기연.xlsx',
 '신도리코.xlsx',
 '신라교역.xlsx',
 '신라에스지.xlsx',
 '신라젠.xlsx',
 '신성델타테크.xlsx',
 '신성이엔지.xlsx',
 '신성통상.xlsx',
 '신세계.xlsx',
 '신세계인터내셔날.xlsx',
 '신세계푸드.xlsx',
 '신송홀딩스.xlsx',
 '신신제약.xlsx',
 '신영와코루.xlsx',
 '신원종합개발.xlsx',
 '신일전자.xlsx',
 '신진에스엠.xlsx',
 '신풍제약.xlsx',
 '신풍제지.xlsx',
 '신한알파리츠.xlsx',
 '신화인터텍.xlsx',
 '신화콘텍.xlsx',
 '신흥에스이씨.xlsx',
 '심텍.xlsx',
 '심텍홀딩스.xlsx',
 '싸이맥스.xlsx',
 '쌍방울.xlsx',
 '쌍용정보통신.xlsx',
 '써니전자.xlsx',
 '쎄니트.xlsx',
 '쎄트렉아이.xlsx',
 '씨젠.xlsx',
 '씨케이에이치.xlsx',
 '씨티씨바이오.xlsx',
 '아가방컴퍼니.xlsx',
 '아난티.xlsx',
 '아남전자.xlsx',
 '아모레퍼시픽.xlsx',
 '아모텍.xlsx',
 '아미노로직스.xlsx',
 '아미코젠.xlsx',
 '아바코.xlsx',
 '아바텍.xlsx',
 '아비코전자.xlsx',
 '아세아.xlsx',
 '아세아시멘트.xlsx',
 '아세아제지.xlsx',
 '아세아텍.xlsx',
 '아센디오.xlsx',
 '아스타.xlsx',
 '아스트.xlsx',
 '아시아경제.xlsx',
 '아시아나IDT.xlsx',
 '아시아나항공.xlsx',
 '아우딘퓨쳐스.xlsx',
 '아이디스홀딩스.xlsx',
 '아이디피.xlsx',
 '아이마켓코리아.xlsx',
 '아이쓰리시스템.xlsx',
 '아이씨디.xlsx',
 '아이씨케이.xlsx',
 '아이에스동서.xlsx',
 '아이에스이커머스.xlsx',
 '아이에이.xlsx',
 '아이오케이.xlsx',
 '아이원스.xlsx',
 '아이윈.xlsx',
 '아이즈비전.xlsx',
 '아이진.xlsx',
 '아이퀘스트.xlsx',
 '아이큐어.xlsx',
 '아이크래프트.xlsx',
 '아이톡시.xlsx',
 '아이티센.xlsx',
 '아이티엠반도체.xlsx',
 '아톤.xlsx',
 '아프리카TV.xlsx',
 '안국약품.xlsx',
 '안랩.xlsx',
 '알에스오토메이션.xlsx',
 '알에프세미.xlsx',
 '알에프텍.xlsx',
 '알체라.xlsx',
 '알테오젠.xlsx',
 '알티캐스트.xlsx',
 '알파홀딩스.xlsx',
 '애경산업.xlsx',
 '애경케미칼.xlsx',
 '애드바이오텍.xlsx',
 '애머릿지.xlsx',
 '액토즈소프트.xlsx',
 '액트로.xlsx',
 '앤디포스.xlsx',
 '앤씨앤.xlsx',
 '앱코.xlsx',
 '야스.xlsx',
 '얍엑스.xlsx',
 '어보브반도체.xlsx',
 '얼라인드.xlsx',
 '에너토크.xlsx',
 '에넥스.xlsx',
 '에디슨EV.xlsx',
 '에스넷.xlsx',
 '에스디생명공학.xlsx',
 '에스맥.xlsx',
 '에스아이리소스.xlsx',
 '에스앤에스텍.xlsx',
 '에스에너지.xlsx',
 '에스에이엠티.xlsx',
 '에스에프에이.xlsx',
 '에스엔유.xlsx',
 '에스엘바이오닉스.xlsx',
 '에스엠코어.xlsx',
 '에스원.xlsx',
 '에스제이그룹.xlsx',
 '에스코넥.xlsx',
 '에스텍파마.xlsx',
 '에스트래픽.xlsx',
 '에스티아이.xlsx',
 '에스티오.xlsx',
 '에스티큐브.xlsx',
 '에스티팜.xlsx',
 '에스폴리텍.xlsx',
 '에스퓨얼셀.xlsx',
 '에스피시스템스.xlsx',
 '에스피지.xlsx',
 '에쓰씨엔지니어링.xlsx',
 '에어부산.xlsx',
 '에이디칩스.xlsx',
 '에이디테크놀로지.xlsx',
 '에이루트.xlsx',
 '에이블씨엔씨.xlsx',
 '에이비프로바이오.xlsx',
 '에이스침대.xlsx',
 '에이치시티.xlsx',
 '에이치앤비디자인.xlsx',
 '에이치엘비파워.xlsx',
 '에이테크솔루션.xlsx',
 '에이텍티앤.xlsx',
 '에이트원.xlsx',
 '에이티세미콘.xlsx',
 '에이프로젠 H&G.xlsx',
 '에이프로젠 MED.xlsx',
 '에이프로젠제약.xlsx',
 '에이플러스에셋.xlsx',
 '에이피티씨.xlsx',
 '에코마케팅.xlsx',
 '에코바이오.xlsx',
 '에코캡.xlsx',
 '에코프로.xlsx',
 '에코프로비엠.xlsx',
 '에코플라스틱.xlsx',
 '에프알텍.xlsx',
 '에프앤가이드.xlsx',
 '에프앤리퍼블릭.xlsx',
 '에프에스티.xlsx',
 '에프엔씨엔터.xlsx',
 '에프엔에스테크.xlsx',
 '엑사이엔씨.xlsx',
 '엑세스바이오.xlsx',
 '엑시콘.xlsx',
 '엔브이에이치코리아.xlsx',
 '엔비티.xlsx',
 '엔시스.xlsx',
 '엔시트론.xlsx',
 '엔씨소프트.xlsx',
 '엔에스쇼핑.xlsx',
 '엔에스엠.xlsx',
 '엔에프씨.xlsx',
 '엔지스테크널러지.xlsx',
 '엔지켐생명과학.xlsx',
 '엔케이맥스.xlsx',
 '엔텔스.xlsx',
 '엔투텍.xlsx',
 '엔피케이.xlsx',
 '엘비세미콘.xlsx',
 '엘아이에스.xlsx',
 '엘앤씨바이오.xlsx',
 '엘앤에프.xlsx',
 '엘앤케이바이오.xlsx',
 '엘엠에스.xlsx',
 '엘오티베큠.xlsx',
 '엘컴텍.xlsx',
 '엠게임.xlsx',
 '엠로.xlsx',
 '엠씨넥스.xlsx',
 '엠아이텍.xlsx',
 '엠에스오토텍.xlsx',
 '엠케이전자.xlsx',
 '엠투엔.xlsx',
 '엠피대산.xlsx',
 '연이비앤티.xlsx',
 '영림원소프트랩.xlsx',
 '영보화학.xlsx',
 '영우디에스피.xlsx',
 '영원무역.xlsx',
 '영원무역홀딩스.xlsx',
 '영풍제지.xlsx',
 '영화금속.xlsx',
 '영화테크.xlsx',
 '예선테크.xlsx',
 '예스24.xlsx',
 '예스코홀딩스.xlsx',
 '예스티.xlsx',
 '오가닉티코스메틱.xlsx',
 '오공.xlsx',
 '오디텍.xlsx',
 '오뚜기.xlsx',
 '오로라.xlsx',
 '오르비텍.xlsx',
 '오리엔탈정공.xlsx',
 '오리엔트바이오.xlsx',
 '오리엔트정공.xlsx',
 '오리온홀딩스.xlsx',
 '오리콤.xlsx',
 '오비고.xlsx',
 '오상자이엘.xlsx',
 '오성첨단소재.xlsx',
 '오션브릿지.xlsx',
 '오스코텍.xlsx',
 '오스템.xlsx',
 '오스템임플란트.xlsx',
 '오이솔루션.xlsx',
 '오킨스전자.xlsx',
 '오텍.xlsx',
 '오토앤.xlsx',
 '오픈베이스.xlsx',
 '올리패스.xlsx',
 '올릭스.xlsx',
 '옴니시스템.xlsx',
 '옵트론텍.xlsx',
 '와이더플래닛.xlsx',
 '와이솔.xlsx',
 '와이아이케이.xlsx',
 '와이엔텍.xlsx',
 '와이엠씨.xlsx',
 '와이엠티.xlsx',
 '와이오엠.xlsx',
 '와이제이엠게임즈.xlsx',
 '와이지-원.xlsx',
 '와이지엔터테인먼트.xlsx',
 '와이투솔루션.xlsx',
 '와이팜.xlsx',
 '용평리조트.xlsx',
 '우리금융지주.xlsx',
 '우리기술.xlsx',
 '우리기술투자.xlsx',
 '우리들휴브레인.xlsx',
 '우리로.xlsx',
 '우리바이오.xlsx',
 '우리산업홀딩스.xlsx',
 '우리손에프앤지.xlsx',
 '우리이앤엘.xlsx',
 '우리조명.xlsx',
 '우림피티에스.xlsx',
 '우수AMS.xlsx',
 '우신시스템.xlsx',
 '우주일렉트로.xlsx',
 '우진비앤지.xlsx',
 '우진아이엔에스.xlsx',
 '우진플라임.xlsx',
 '웅진씽크빅.xlsx',
 '원림.xlsx',
 '원방테크.xlsx',
 '원익.xlsx',
 '원익IPS.xlsx',
 '원익QnC.xlsx',
 '원익머트리얼즈.xlsx',
 '원익큐브.xlsx',
 '원익피앤이.xlsx',
 '원익홀딩스.xlsx',
 '원일특강.xlsx',
 '원풍.xlsx',
 '월덱스.xlsx',
 '웨이브일렉트로.xlsx',
 '웰바이오텍.xlsx',
 '웰크론.xlsx',
 '웰크론한텍.xlsx',
 '웹스.xlsx',
 '웹젠.xlsx',
 '웹케시.xlsx',
 '위니아딤채.xlsx',
 '위드텍.xlsx',
 '위메이드.xlsx',
 '위메이드맥스.xlsx',
 '위즈코프.xlsx',
 '위지윅스튜디오.xlsx',
 '위지트.xlsx',
 '윈하이텍.xlsx',
 '윌비스.xlsx',
 '윙입푸드.xlsx',
 '유네코.xlsx',
 '유니드.xlsx',
 '유니셈.xlsx',
 '유니슨.xlsx',
 '유니온머티리얼.xlsx',
 '유니온커뮤니티.xlsx',
 '유니퀘스트.xlsx',
 '유니테스트.xlsx',
 '유니테크노.xlsx',
 '유니트론텍.xlsx',
 '유라테크.xlsx',
 '유비벨록스.xlsx',
 '유비케어.xlsx',
 '유비쿼스홀딩스.xlsx',
 '유성기업.xlsx',
 '유성티엔에스.xlsx',
 '유수홀딩스.xlsx',
 '유아이디.xlsx',
 '유아이엘.xlsx',
 '유앤아이.xlsx',
 '유엔젤.xlsx',
 '유유제약.xlsx',
 '유일에너테크.xlsx',
 '유진로봇.xlsx',
 '유진테크.xlsx',
 '유테크.xlsx',
 '유티아이.xlsx',
 '유틸렉스.xlsx',
 '유한양행.xlsx',
 ...]

In [ ]:
df_li = []
count = 0
error_li = []
for i, f in enumerate(file_list[:10]):
    try:
        df = pd.read_excel(f"./fsdata/{f}", sheet_name=None)

        if df['Data_cis'].iloc[:, 1][0] == "label_ko":
            label_col = 1
        else:
            label_col = 2

        if 'Data_is' in df.keys():
            sheet_name = 'Data_is'
        else:
            sheet_name = 'Data_cis'

        # 자본금   
        df1 = df['Data_bs'][df['Data_bs'].iloc[:, label_col].str.contains('자본금').fillna(False)] 
        if len(df1) > 1:
            df1 = df['Data_bs'][df['Data_bs'].iloc[:, label_col] == '자본금']
        elif len(df1) == 0:
            df1 = df['Data_bs'][df['Data_bs'].iloc[:, 1].str.contains('ifrs-full_IssuedCapital').fillna(False)] 
            if len(df1) == 0:
                df1 = df['Data_bs'][df['Data_bs'].iloc[:, 1].isin(['ifrs_EquityAttributableToOwnersOfParent']).fillna(False)] 
        if len(df1) == 0:
            df1 = df['Data_bs'][df['Data_bs'].iloc[:, label_col].isin(['납입자본'])] 

        # 자산총계
        df2 = df['Data_bs'][df['Data_bs'].iloc[:, label_col] == '자산총계']

        # 당기순이익
        df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].str.contains('당기순이익').fillna(False)]
        if len(df3) > 1:
            df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].isin(['연결당기순이익', '당기순이익(손실)', '당기순이익', '당기순손익', '당기순손실'])]
            if len(df3) == 0:
                df3 = df['Data_cf'][df['Data_cf'].iloc[:, label_col].isin(['당기순이익(손실)'])]
        elif len(df3) == 0:
            df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].isin(['당기순손익', '당기순손실', '당기의 순이익', '계속영업이익(손실)'])]
            if len(df3) == 0:
                df3 = df[sheet_name][df[sheet_name].iloc[:, 1].str.contains('당기순이익').fillna(False)]
            if len(df3) == 0:
                df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].str.contains('당기손익').fillna(False)]
        if len(df3) > 1:
            df3 = df3[df3.isna().sum(axis = 1) == df3.isna().sum(axis = 1).min()]

        # 영업활동 현금흐름
        regex = r'[1-9]?[A-z]?[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]?\s?영업\s?활동?([가-힣]+)?(\s+[가-힣]+\s+)?\s?현금\s?흐름'
        df4 = df['Data_cf'][df['Data_cf'].iloc[:, 1].str.contains('ifrs-full_CashFlowsFromUsedInOperatingActivities').fillna(False)]                          

        if len(df4) == 0:
            df4 = df['Data_cf'][df['Data_cf'].iloc[:, label_col].str.contains(regex).fillna(False)]
            if len(df4) > 1:
                df4 = df['Data_cf'][df['Data_cf'].iloc[:, 1].isin(['ifrs_CashFlowsFromUsedInOperatingActivities']).fillna(False)]
                if len(df4) > 0:
                    df4 = df['Data_cf'][df['Data_cf'].iloc[:, 1].str.contains(r'영업\s활동\s현금\s흐름').fillna(False)]

        # 영업이익
        df5 = df[sheet_name][df[sheet_name].iloc[:, 1].str.contains('dart_OperatingIncomeLoss').fillna(False)]
        if len(df5) == 0:
            df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains(r'영업\s?이익').fillna(False)]
            if len(df5) == 0:
                df5 = df[sheet_name][df[sheet_name].iloc[:, 1].str.contains(r'영업\s?이익').fillna(False)]
                if len(df5) == 0:
                    sheet_name = 'Data_cis'
                    df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains(r'영업\s?이익').fillna(False)]

        # 매출액
        df6 = df[sheet_name][df[sheet_name].iloc[:, 1].str.contains('ifrs-full_Revenue').fillna(False)] 
        if len(df6) == 0: # ID로 구하기
            df6 = df[sheet_name][df[sheet_name].iloc[:, 1].isin(['ifrs-full_Revenue', 'ifrs_Revenue'])]
        if len(df6) == 0: # Name으로 구하기
            df6 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('매출액').fillna(False)]
            if len(df6) == 0:
                df6 = df[sheet_name][df[sheet_name].iloc[:, label_col].isin(['매출'])]

            if len(df6) > 1: 
                df6 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains(r'Ⅰ.매출액.*').fillna(False)]


        if len(df6) == 0: # name col다른 애들 col변경해서 잡기

            df6 = df[sheet_name][df[sheet_name].iloc[:, 1].str.contains('매출액').fillna(False)]
            if len(df6) > 1:
                df6 = df[sheet_name][df[sheet_name].iloc[:, 1].isin(['매출액'])]
            if len(df6) == 0:
                df6 = df[sheet_name][df[sheet_name].iloc[:, 1].isin(['I.매출'])]
            if len(df6) == 0:
                df6 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].str.contains('매출액').fillna(False)]

        if len(df6) == 0:   # 매출액 없는녀석 영업수익 구하기
            df6 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('영업수익').fillna(False)]
            if len(df6) > 1: # name으로 isin
                df6 = df[sheet_name][df[sheet_name].iloc[:, 1].isin(['I.영업수익', '영업수익'])]
                if len(df6) > 1:
                    df6 = df[sheet_name][df[sheet_name].iloc[:, 1].isin(['I.영업수익', '영업수익'])]
        elif len(df6) > 1:
            df6 = df[sheet_name][df[sheet_name].iloc[:, 1].isin(['ifrs-full_Revenue', 'ifrs_Revenue'])]

        df1 = concat_df(df1, '자본총계', label_col, f)
        df2 = concat_df(df2, '자산총계', label_col, f)
        df3 = concat_df(df3, '당기순이익', label_col, f)
        df4 = concat_df(df4, '영업활동현금흐름', label_col, f)
        df5 = concat_df(df5, '영업이익', label_col, f)
        df6 = concat_df(df6, '매출액', label_col, f)



        con_df = pd.concat([df1, df2, df3, df4, df5, df6])
        con_df.to_csv(f'./data/{f}.csv')

        print(i, f, len(df1), len(df2), len(df3), len(df4), len(df5), len(df6))
        if len(df1) != 1 or len(df2) != 1 or len(df3) != 1 or len(df4) != 1 or len(df5) != 1 or len(df6) != 1:
            count += 1
            error_li.append([i, f])
            print('Error')
    except:
        count += 1
        pass
print(error_li)
print(count)

In [354]:
def concat_df(df, name, name_pos, f_name):
    col_list = []
    for i, col in enumerate(df.columns):
        try:
            int(col[:8])
            col_list.append(i)
        except:
            pass

    nm_df = df.iloc[:, name_pos]
    ye_df =  df.iloc[:, col_list]
    con_df = pd.concat([nm_df, ye_df], axis=1)
    filter_col = ['name']
    for col in con_df.columns[1:]:
        filter_col.append(col[:4])
    
    con_df.columns = filter_col
    con_df.name.iloc[0] = name
    con_df.set_index('name', inplace=True)
    con_df.T.reset_index().drop_duplicates(subset=['index']).set_index('index').T
    con_df.columns.name = ''
    return con_df

In [361]:
df3.T.reset_index()#.drop_duplicates(subset=['index'])#.set_index('index').T
# df3.columns.name = ''
# df3

name           당기순이익(손실)
0     2020  122711267434
1     2019  151377053549
2     2018  154186683020
3     2017   27983934658
4     2017   27983934658

In [337]:
df3.T.reset_index().drop_duplicates(subset=['index']).T

KeyError: Index(['index'], dtype='object')

In [328]:
z = df3.T.reset_index().drop(index=7).set_index('index').T

In [239]:
df3.columns()

,2020,2019,2018,2017,2016,2015,2014,2013,2013,2012,2011,2010
name,,,,,,,,,,,,
당기순이익(손실),142623241320,50889855210,66600069013,54178649704,61998500853,48984004454,59451739573,-60061093537,-60061093537,69571921246,80994345261,98803721778

name index     당기순이익(손실)
0     2020  142623241320
1     2019   50889855210
2     2018   66600069013
3     2017   54178649704
4     2016   61998500853
5     2015   48984004454
6     2014   59451739573
7     2013  -60061093537
9     2012   69571921246
10    2011   80994345261
11    2010   98803721778

In [285]:
df3.T

name     당기순이익(손실)
2020  142623241320
2019   50889855210
2018   66600069013
2017   54178649704
2016   61998500853
2015   48984004454
2014   59451739573
2013  -60061093537
2013  -60061093537
2012   69571921246
2011   80994345261
2010   98803721778

In [265]:
print(len(df3.T))

12

In [269]:

for i in range(len(df3.T) - 1):
    df3.columns[0]

name
당기순이익(손실)    142623241320
Name: 2020, dtype: object
name
당기순이익(손실)    50889855210
Name: 2019, dtype: object
name
당기순이익(손실)    66600069013
Name: 2018, dtype: object
name
당기순이익(손실)    54178649704
Name: 2017, dtype: object
name
당기순이익(손실)    61998500853
Name: 2016, dtype: object
name
당기순이익(손실)    48984004454
Name: 2015, dtype: object
name
당기순이익(손실)    59451739573
Name: 2014, dtype: object
name
당기순이익(손실)    -60061093537
Name: 2013, dtype: object
name
당기순이익(손실)    -60061093537
Name: 2013, dtype: object
name
당기순이익(손실)    69571921246
Name: 2012, dtype: object
name
당기순이익(손실)    80994345261
Name: 2011, dtype: object

In [197]:
df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [187]:
    df1 = concat_df(df1, '자본금', label_col, f)
    df2 = concat_df(df2, '자산총계', label_col, f)
    df3 = concat_df(df3, '당기순이익', label_col, f)
    df4 = concat_df(df4, '영업활동현금흐름', label_col, f)
    df5 = concat_df(df5, '영업이익', label_col, f)
    df6 = concat_df(df6, '매출액', label_col, f)
    # print(df1, df2, df3, df4, df5, df6)
    con_df = pd.concat([df1, df2, df3, df4, df5, df6])
    # con_df_li.append(con_df)

In [191]:
df3

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
name,,,,,,,,,,,
당기순이익,-78918168769,14327973321,18769761561,9361782757,6737746560,13413053459,25803321,14473778750,38313934535,19271204538,13878673663

In [49]:
df1 = pd.DataFrame({'A':[1], 'C':[3]})
df2 = pd.DataFrame({'A':[1], 'B':[2], 'C':[3], 'D':[4]})
df2.name.iloc[0]

AttributeError: 'DataFrame' object has no attribute 'name'

In [228]:
df6.iloc[1]

Unnamed: 0                                              1.0
Statement of comprehensive income(Unit: KWR)           영업수익
Unnamed: 2                                              NaN
20200101-20201231                               12068903647
20190101-20191231                               10228572876
20180101-20181231                               13027805266
Name: 3, dtype: object

In [ ]:
con_df_li = []
for i, f in enumerate(file_list):
    df = pd.read_excel(f"./fsdata/{f}", sheet_name=None)
    
    if df['Data_cis'].iloc[:, 1][0] == "label_ko":
        label_col = 1
    else:
        label_col = 2
        
    if 'Data_is' in df.keys():
        sheet_name = 'Data_is'
    else:
        sheet_name = 'Data_cis'
        
    
    
#     if len(df5) == 0:
#           df4 = df['Data_cf'][df['Data_cf'].iloc[:, label_col].str.contains("매출액").fillna(False)]
    
    print(i, f, len(df5))
    if len(df5) != 1 :
        print("========================================================================Error")

In [ ]:
#

In [34]:
con_df

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
name,,,,,,,,,,,
자본총계,9626282381126,9181170418766,8424961883357,7656019495485,7087152831175,6190682621879,5463943894260,3600864866057,3261558410213,2954947328300,2183808285926
자산총계,114156870956930,104538771055803,98793581956621,94349977199141,93482189322407,90279548107075,84050063926700,46916890811024,43163255892267,39358672617650,30705550891331
당기순이익,562555756578,598946530179,538140848972,424964047023,518114401855,530471200882,819668197015,305522080841,365873515994,NaN,NaN
매출총이익,748191037815,806882775368,749833212133,594323666429,712280655958,696176310892,941140228516,412738282037,493613470899,536277321458,NaN
주당이익,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,name,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
1,당기순이익,18285121577,27788949736,9092446196,6190456821,17543266261,13158136978,19050210474,15514678383,24650593688,27006653922,21616816821

In [103]:
# is가 없는 경우
df['Data_bs'][df['Data_bs']['Statement of financial position(Unit: KWR)'] == '자본총계']
df['Data_bs'][df['Data_bs']['Statement of financial position(Unit: KWR)'] == '자산총계']
df['Data_cis'][df['Data_cis']['Statement of comprehensive income(Unit: KWR)'].str.contains('당기순이익').fillna(False)]
a = df['Data_cis'][df['Data_cis']['Statement of comprehensive income(Unit: KWR)'].str.contains('주당').fillna(False)]
a[a['Statement of comprehensive income(Unit: KWR)'].str.contains('기본')]
df['Data_cis'][df['Data_cis']['Statement of comprehensive income(Unit: KWR)'] == '매출총이익']

Empty DataFrame
Columns: [Unnamed: 0, Statement of comprehensive income(Unit: KWR), Unnamed: 2, 20200101-20201231, 20190101-20191231, 20180101-20181231, 20170101-20171231, 20160101-20161231, 20150101-20151231, 20140101-20141231, 20130101-20131231, 20120101-20121231, 20110101-20111231]
Index: []

In [100]:
# is가 있는경우
df1 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자본총계']
df2 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자산총계']
df3 = df['Data_cis'][df['Data_cis']['Unnamed: 2'].str.contains('당기순이익').fillna(False)]
df4 = df['Data_is'][df['Data_is']['Unnamed: 2'].str.contains('기본주당이익').fillna(False)]
df5 = df['Data_is'][df['Data_is']['Unnamed: 2'] == '매출총이익']

KeyError: 'Data_is'

['BNK금융지주.xlsx',
 'BYC.xlsx',
 'DB하이텍.xlsx',
 'DL.xlsx',
 'DSR.xlsx',
 'E1.xlsx',
 'ESR켄달스퀘어리츠.xlsx',
 'ES큐브.xlsx',
 'GS.xlsx',
 'GS건설.xlsx',
 'HDC.xlsx',
 'HDC현대산업개발.xlsx',
 'HJ중공업.xlsx',
 'JW생명과학.xlsx',
 'JW중외제약.xlsx',
 'JW홀딩스.xlsx',
 'KB오토시스.xlsx',
 'KD.xlsx',
 'KG동부제철.xlsx',
 'KG케미칼.xlsx',
 'KH 필룩스.xlsx',
 'KISCO홀딩스.xlsx',
 'KPX케미칼.xlsx',
 'KPX홀딩스.xlsx',
 'KR모터스.xlsx',
 'LF.xlsx',
 'LG.xlsx',
 'LG디스플레이.xlsx',
 'LG생활건강.xlsx',
 'LG에너지솔루션.xlsx',
 'LG유플러스.xlsx',
 'LG이노텍.xlsx',
 'LG전자.xlsx',
 'LG화학.xlsx',
 'LIG넥스원.xlsx',
 'LS.xlsx',
 'LS네트웍스.xlsx',
 'LX인터내셔널.xlsx',
 'MH에탄올.xlsx',
 'NAVER.xlsx',
 'NICE.xlsx',
 'OCI.xlsx',
 'S-Oil.xlsx',
 'SBI핀테크솔루션즈.xlsx',
 'SGC에너지.xlsx',
 'SG글로벌.xlsx',
 'SH에너지화학.xlsx',
 'SIMPAC.xlsx',
 'SK.xlsx',
 'SKC.xlsx',
 'SK가스.xlsx',
 'SK네트웍스.xlsx',
 'SK디앤디.xlsx',
 'SK리츠.xlsx',
 'SK이노베이션.xlsx',
 'SK케미칼.xlsx',
 'SK텔레콤.xlsx',
 'SNT모티브.xlsx',
 'SNT에너지.xlsx',
 'SNT중공업.xlsx',
 'SNT홀딩스.xlsx',
 'SPC삼립.xlsx',
 'STX.xlsx',
 'STX엔진.xlsx',
 'STX중공업.xlsx',
 'SUN&L.xlsx',
 'TCC스틸.xlsx',
 'WISCOM.xlsx',
 '~$DB하이텍.xlsx',
 '가비아.xlsx',
 '가온미디어.xlsx',
 '가온전선.xlsx',
 '감성코퍼레이션.xlsx',
 '강남제비스코.xlsx',
 '강스템바이오텍.xlsx',
 '강원랜드.xlsx',
 '강원에너지.xlsx',
 '갤럭시아머니트리.xlsx',
 '갤럭시아에스엠.xlsx',
 '경농.xlsx',
 '경동나비엔.xlsx',
 '경동도시가스.xlsx',
 '경동인베스트.xlsx',
 '경동제약.xlsx',
 '경방.xlsx',
 '경인양행.xlsx',
 '경창산업.xlsx',
 '계양전기.xlsx',
 '고려신용정보.xlsx',
 '고려아연.xlsx',
 '고려제강.xlsx',
 '고바이오랩.xlsx',
 '골드앤에스.xlsx',
 '골드퍼시픽.xlsx',
 '골프존.xlsx',
 '골프존뉴딘홀딩스.xlsx',
 '샘표.xlsx',
 '샘표식품.xlsx',
 '서린바이오.xlsx',
 '서부T&D.xlsx',
 '서산.xlsx',
 '서연.xlsx',
 '서연이화.xlsx',
 '서연탑메탈.xlsx',
 '서울리거.xlsx',
 '서울바이오시스.xlsx',
 '서울반도체.xlsx',
 '서울옥션.xlsx',
 '서원인텍.xlsx',
 '서전기전.xlsx',
 '서진시스템.xlsx',
 '서플러스글로벌.xlsx',
 '서호전기.xlsx',
 '서흥.xlsx',
 '서희건설.xlsx',
 '석경에이티.xlsx',
 '선도전기.xlsx',
 '선익시스템.xlsx',
 '선진뷰티사이언스.xlsx',
 '성광벤드.xlsx',
 '성도이엔지.xlsx',
 '성문전자.xlsx',
 '성보화학.xlsx',
 '성신양회.xlsx',
 '성우테크론.xlsx',
 '성우하이텍.xlsx',
 '성창기업지주.xlsx',
 '성창오토텍.xlsx',
 '세경하이테크.xlsx',
 '세기상사.xlsx',
 '세동.xlsx',
 '세방.xlsx',
 '세방전지.xlsx',
 '세보엠이씨.xlsx',
 '세아베스틸.xlsx',
 '세아제강지주.xlsx',
 '세아특수강.xlsx',
 '세아홀딩스.xlsx',
 '세영디앤씨.xlsx',
 '세우글로벌.xlsx',
 '세운메디칼.xlsx',
 '세원이앤씨.xlsx',
 '세이브존I&C.xlsx',
 '세종공업.xlsx',
 '세종메디칼.xlsx',
 '세종텔레콤.xlsx',
 '세진중공업.xlsx',
 '세진티에스.xlsx',
 '세코닉스.xlsx',
 '세틀뱅크.xlsx',
 '센트랄모텍.xlsx',
 '센트럴인사이트.xlsx',
 '셀루메드.xlsx',
 '셀리버리.xlsx',
 '셀바스AI.xlsx',
 '셀바스헬스케어.xlsx',
 '셀트리온제약.xlsx',
 '셀트리온헬스케어.xlsx',
 '소프트센.xlsx',
 '손오공.xlsx',
 '솔고바이오.xlsx',
 '솔루스첨단소재.xlsx',
 '솔루에타.xlsx',
 '솔루엠.xlsx',
 '솔본.xlsx',
 '솔브레인.xlsx',
 '솔브레인홀딩스.xlsx',
 '솔트룩스.xlsx',
 '수산아이앤티.xlsx',
 '수산중공업.xlsx',
 '수성이노베이션.xlsx',
 '수젠텍.xlsx',
 '슈프리마.xlsx',
 '슈프리마아이디.xlsx',
 '슈프리마에이치큐.xlsx',
 '슈피겐코리아.xlsx',
 '스카이문스테크놀로지.xlsx',
 '스킨앤스킨.xlsx',
 '스타플렉스.xlsx',
 '스튜디오드래곤.xlsx',
 '스튜디오산타클로스.xlsx',
 '스페코.xlsx',
 '스포츠서울.xlsx',
 '시공테크.xlsx',
 '시그네틱스.xlsx',
 '시너지이노베이션.xlsx',
 '시노펙스.xlsx',
 '시디즈.xlsx',
 '시스웍.xlsx',
 '시큐브.xlsx',
 '시티랩스.xlsx',
 '신대양제지.xlsx',
 '신도기연.xlsx',
 '신도리코.xlsx',
 '신라교역.xlsx']

In [116]:
df['Data_bs']

,Unnamed: 0,Statement of financial position(Unit: KWR),Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
0,NaN,label_ko,comment,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,Ⅰ.현금및예치금,"4,6,7,42",4505069358326,4148498467383,3212849112911,3142147320394,3414050510649,3091259795281,3206316978580,1860886039971,2143271973711,2595546725278,1238488915665
4,2.0,당기손익-공정가치금융자산Ⅱ.,"4,6,8,11",4583426737721,3839224185960,3471852651980,1400099999335,1668566686612,1011442821218,885064112441,666354861001,808416922350,374800493947,341973246440
5,3.0,Ⅲ.기타포괄손익-공정가치금융자산,"4,6,9,13",5349829928874,5267069504119,5030991797403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.0,Ⅳ.상각후원가금융자산,"4,6,10,13",7877346757473,7534761068932,6798768263498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5.0,Ⅴ.대출채권및수취채권,"4,6,12,13,14",87700653946477,80657226038779,77629806596567,75291882068200,74087010344356,72057993312851,66555893244087,36200193891753,32201826417135,28737076851970,22961708496817
8,6.0,Ⅵ.파생상품자산,"4,6,15",79026047775,35960022003,30362048153,79604560012,157203376708,177928413220,338510567656,120020911144,101449091701,149075590873,193762024652
9,7.0,Ⅶ.관계기업및공동기업투자,16,664431513663,551107730508,465098934825,62997721427,32350879977,34951476778,NaN,NaN,NaN,NaN,NaN
10,8.0,Ⅷ.유형자산,17,1172674858379,977628442590,887544787397,855644312783,801044562958,795929110164,793389725103,508722105985,416435557727,412636877446,318804400501
11,9.0,Ⅸ.무형자산,18,278636192250,266377000516,271651743189,312768959746,324939472089,367601785509,412219415666,134892639539,122054869082,24101550319,10684058961
12,10.0,Ⅹ.투자부동산,19,665348439537,224182444636,198172847593,186415376259,137814307269,132409739983,133508413565,87890074218,75235207341,47962385458,40651517142
13,11.0,XI.기타자산,20,1280427176455,1036736150377,796483173105,523436383208,490231456109,473225402072,383866210004,159835110840,92560194078,52658019188,9040164817
14,12.0,자산총계,NaN,114156870956930,104538771055803,98793581956621,94349977199141,93482189322407,90279548107075,84050063926700,46916890811024,43163255892267,39358672617650,30705550891331
15,13.0,부채,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,14.0,Ⅰ.예수부채,"4,6,21",83032717118383,76609539623822,73380109621954,69824591903980,67604391266663,64361451158459,59906495454005,31058903803104,28602191843523,24991337377268,18665284823975
17,15.0,Ⅱ.차입부채,"4,6,22",6835742647335,5079228446914,5615888697396,5116421496416,6332707672452,6025842385424,6664307425428,4391127175771,4428156539259,4638062089721,3787359926404
18,16.0,Ⅲ.사채,"4,6,23",11247989728869,10185756051489,8590658437502,8807407756997,8781597538084,8152822161590,7299509154641,4740193120195,4128490838398,3618063356194,2646260680339
19,17.0,Ⅳ.파생상품부채,"4,6,15",64541995345,42539813562,57274764803,115822808698,156714181965,170331267224,290544299745,90218613268,73310282308,82827935548,132227275645
20,18.0,Ⅴ.순확정급여부채,24,57462113662,84535619130,71999932383,31729109541,7538020304,23012061193,60430473197,12388251389,1715337415,16574509040,NaN
21,19.0,Ⅵ.충당부채,"25,39",83843529500,45257852938,42656160276,44972787975,108431694771,149008521243,195701320579,32946492830,28899970847,30846417049,19612800766
22,20.0,Ⅶ.당기법인세부채,37,86237630391,103589252746,35069461980,33878940118,81861079405,64066981250,52846362565,20433956378,37864295761,71540955922,69232029341
23,21.0,Ⅷ.이연법인세부채,37,27030432654,61435444430,47087687019,20976941795,37879396951,75473596589,48337434682,77206704645,53398467646,31464881226,6695122827
24,22.0,Ⅸ.기타부채,"4,6,26",3095023379665,3145718532006,2527875309951,2698155958136,3283915640637,5066857352224,4067948107598,2892607827387,2547669906897,2923007767382,3195069946108
25,23.0,부채총계,NaN,104530588575804,95357600637037,90368620073264,86693957703656,86395036491232,84088865485196,78586120032440,43316025944967,39901697482054,36403725289350,28521742605405
26,24.0,자본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,25.0,Ⅰ.지배기업소유주에게귀속되는자본,NaN,8728825001126,8283713038766,7626978183436,7057560777912,6782618382474,5886216134196,4765683316153,3501013866057,3261558410213,2954947328300,2183808285926
28,26.0,1.자본금,27,1629676230000,1629676230000,1629676230000,1629676230000,1629676230000,1279676230000,1171899495000,966899495000,966899495000,966899495000,933418250000
29,27.0,2.신종자본증권,27,827392476500,707874320000,508521371000,259277011000,259277011000,259277011000,NaN,NaN,NaN,NaN,NaN
30,28.0,3.기타불입자본,27,779262415903,786782981343,786782981343,786782981343,789802175625,672809192535,353678831743,47023304997,44751592737,44751592737,-1169555580
31,29.0,4.기타자본구성요소,27,-68531574601,-32524354519,-51005140203,-36056130481,2190823969,23958713189,23363971072,25972578211,29486797712,35982380854,37994870296
32,30.0,5.이익잉여금,27,5561025453324,5191903861942,4753002741296,4417880686050,4101672141880,3650494987472,3216741018338,2461118487849,2220420524764,1907313859709,1213564721210
33,31.0,Ⅱ.비지배지분,NaN,897457380000,897457380000,797983699921,598458717573,304534448701,304466487683,698260578107,99851000000,NaN,NaN,NaN
34,32.0,자본총계,NaN,9626282381126,9181170418766,8424961883357,7656019495485,7087152831175,6190682621879,5463943894260,3600864866057,3261558410213,2954947328300,2183808285926
35,33.0,부채및자본총계,NaN,114156870956930,104538771055803,98793581956621,94349977199141,93482189322407,90279548107075,84050063926700,46916890811024,43163255892267,39358672617650,30705550891331

In [46]:
for f in file_list[:1]:
    print(f)
    df = pd.read_excel(f"./fsdata/{f}", sheet_name=None)
    df1 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자본총계']
    df2 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자산총계']
    df3 = df['Data_cis'][df['Data_cis']['Unnamed: 2'].str.contains('당기순이익').fillna(False)]
    if 'Data_is' in df.keys():
        df4 = df['Data_is'][df['Data_is']['Unnamed: 2'].str.contains('기본주당이익').fillna(False)]
    else:
        df4 = df['Data_cis'][df['Data_cis']['Unnamed: 2'].str.contains('기본주당이익').fillna(False)]
    if 'Data_is' in df.keys():
        df5 = df['Data_is'][df['Data_is']['Unnamed: 2'] == '매출총이익']
    else:
        df5 = df['Data_cis'][df['Data_cis']['Unnamed: 2'] == '매출총이익']
    print(df1, df2, df3)

BNK금융지주.xlsx
Empty DataFrame
Columns: [Unnamed: 0, Statement of financial position(Unit: KWR), Unnamed: 2, 20201231, 20191231, 20181231, 20171231, 20161231, 20151231, 20141231, 20131231, 20121231, 20111231, 20101231]
Index: []

In [42]:
'Data_is' in df.keys()

True

In [40]:
df.keys()

dict_keys(['Data_bs', 'Labels_bs', 'Data_cis', 'Labels_cis', 'Data_cf', 'Labels_cf'])

In [107]:
lambda x: 'a' x